/* 全局样式表 */
* {
    margin: 0;
    padding: 0;
}

html,
body,
div,
span,
object,
iframe,

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,

abbr,
address,
cite,
code,

del,
dfn,
em,
img,
ins,
kbd,
q,
samp,

small,
strong,
sub,
sup,
var,

b,
i,

dl,
dt,
dd,
ol,
ul,
li,

fieldset,
form,
label,
legend,

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,

article,
aside,
canvas,
details,
figcaption,
figure,

footer,
header,
hgroup,
menu,
nav,
section,
summary,

time,
mark,
audio,
video {

    margin: 0;

    padding: 0;

    border: 0;

    outline: 0;

    font-size: 100%;

    vertical-align: baseline;

    background: transparent;

}

body {

    line-height: 1;

}

:focus {

    outline: 1;

}

article,
aside,
canvas,
details,
figcaption,
figure,

footer,
header,
hgroup,
menu,
nav,
section,
summary {

    display: block;

}

ul {

    list-style: none;

}

blockquote,
q {

    quotes: none;

}

blockquote:before,
blockquote:after,

q:before,
q:after {

    content: '';

    content: none;

}

a {

    margin: 0;

    padding: 0;

    border: 0;

    font-size: 100%;

    vertical-align: baseline;

    background: transparent;

    text-decoration: none
}

ins {

    background-color: #ff9;

    color: #000;

    text-decoration: none;

}

mark {

    background-color: #ff9;

    color: #000;

    font-style: italic;

    font-weight: bold;

}

del {

    text-decoration: line-through;

}

abbr[title],
dfn[title] {

    border-bottom: 1px dotted #000;

    cursor: help;

}

table {

    border-collapse: collapse;

    border-spacing: 0;

}

hr {

    display: block;

    height: 1px;

    border: 0;

    border-top: 1px solid #cccccc;

    margin: 1em 0;

    padding: 0;

}

input,
select {

    vertical-align: middle;

}

.fl {

    float: left;

}

.fr {

    float: right;

}

html,
body,
#app {

    height: 100%;

    width: 100%;

    font-family: '微软雅黑';

    overflow: hidden;

}

input,
textarea {

    border: none;

}

.el-form-item__label {
    font-family: cursive;
}

.el-input__inner {
    background-color: #febd50;
    border: white;
    border-bottom: 1px #606266 dashed;
}



.el-button:focus,
.el-button:hover,
.el-button:active {
    color: #75b1ef;
    border-color: #feffff;
    background-color: #ffeb3b;
    text-shadow: 6px 2px 2px #9be184;
}

.el-breadcrumb{
    margin-bottom: 20px;
}

.el-card{
    box-shadow: 0 1px 5px 0 rgb(254 189 80) !important;
    background-color: #f4f5f4;
    color: #839093;
    font-size: 14px;
}

.el-row{
    margin-bottom: 20px;
}

.el-table{
    border-radius: 10px;
    font-size: 12px;
}
.el-table thead.is-group th.el-table__cell {
    background: #9af1ff;
}

.el-pagination{
    margin-top: 20px;
}

.el-dialog__header {
    background-color: #9af1ff;
}
.el-dialog__title{
    font-size: 14px;
}

.el-dialog__body {
    background-color: #febd50;
}
.el-dialog__footer {
    background-color: #febd50;
}

.el-input.is-disabled .el-input__inner{
    background-color: #febd50;
    border-color: #9da2ab;
    color: #9da2ab;
}